
body{
	background-color: #ededed;
}
*{
	margin: 0;
	padding: 0;
}
.header{
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;

	background-color: #a5c6fa;

	height: 60px;
	width: 1255px;
   	z-index: 1;

}
.unilogo{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	margin-left: 8px;
	margin-top: 5px;
	float: left;
}
.tralogo{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	margin-left: 8px;
	margin-top: 5px;
	float: left;
}
.name{
	font-size: 40px;

	margin-left:195px;
	margin-top: 10px;

	float: left;
 }
 .tail{
 	margin-left: 1010px;
 	margin-top: 25px;
 }
 .tail1 ,.tail2 ,.tail3{

 	text-decoration: none;

 	width: 100px;
 	height: 70px;
 	border-radius: 5px;

 	padding: 5px;
 	margin-left: 8px;
 	
 	
 	background-color: #fff;
 	
 }
  .tail1:hover ,.tail2:hover ,.tail3:hover{
  	box-shadow: 3px 3px 10px #fff787 ;
  }
 .course{
  	display: flex;
  	flex-direction: row;
  	justify-content: space-evenly;
  }
  .ncccontiner, .itpeccontiner{
  	margin-top: 60px;
    z-index: 0;

  }
 .btn {
    display: inline-block;
    background: #032367;
    text-decoration: none;
    width: 1255px;
    height: 42px;
    margin: 24px 0;
    border-radius: 10px;
    overflow: hidden;

    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}
 .btn1 {
    display: inline-block;
    background: white;
    text-decoration: none;
    width: 500px;
    height: 42px;
    margin: 24px 0;
    border-radius: 10px;
    overflow: hidden;

    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.btn.test-completed::after,
.btn.test-completed::before {
    content: "NCC";
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.5;

    transition: all 400ms;
    top: 0;
}

.btn.btn.test-completed:hover::after {
    top: -36px;
}

.btn.test-completed::before {
    content: "Nactional Computing Center";
    top: 36px;
}

.btn.btn.test-completed:hover::before {
    top: 0;
}

.btn1.test-completed::after,
.btn1.test-completed::before {
    content: "ITPEC";
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.5;

    transition: all 400ms;
    top: 0;
}

.btn1.btn1.test-completed:hover::after {
    top: -36px;
}

.btn1.test-completed::before {
    content: "IT Profactional examination council ";
    top: 36px;
}

.btn1.btn1.test-completed:hover::before {
    top: 0;
}
.ncc_enroll1{	
	width: 1257px;
	height: 750px;
}
.ncchead{
	margin-left: -10px;
	display: inline-block;
	width: 1255px;
	height: 77px;
	background-color: white;
/*	position: relative;*/
}
.unilogo1{
	width: 60px;
	height: 60px;
	border-radius: 30px;
	margin-left: 8px;
	margin-top: 5px;


	float: left;
}
.nccclass{
	position: relative;
	font-size: 70px;
	margin-top: 0px;
 	margin-left: 100px;

 	float: left;	
}
.ncctail{
	margin-top: 0;

	display: inline;
	width: 130px;
	height: 40px;
	background-color: #032367;
	color: #fcdd2b;
	clip-path: polygon(0% 1%, 19% 100%, 100% 100%, 100% 0);
	position: relative;
	text-align: right;
	padding: 5px;

	float: right;
}
.ncctheme{
	left: 0;
	margin-top: 0;
	border: 1px solid white;
	
	position: absolute;
	z-index: -1;
}
.text .text1{
	display: inline-block;
	color: white;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 0;
	
	margin-left: 290px;
	font-size: 20px;
	text-shadow: 2px 2px 4px #000000;

}
.text .text2{
	display: inline-block;
	color: white;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 0;

	font-size: 20px;
	 text-shadow: 2px 2px 4px #000000;
}
.text .text3{
	display: inline;
	color: #fcdd2b;
	font-size: 70px;
	margin-left:430px;
	 text-shadow: 2px 2px 4px #000000;
}
.text .text4{
	display: inline;
	color: #fcdd2b;
	font-size: 70px;
	margin-left:275px;
	 text-shadow: 2px 2px 4px #000000;
}
.text .text5{
	display: inline-block;
	color: white;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 0;
	
	margin-left: 430px;
	font-size: 20px;
	text-shadow: 2px 2px 4px #000000;	
}
.ads{
	position: relative;
}
.ads1{
	display: inline-block;
	width: 100px;
	height: auto;
	margin-top: 50px;
	margin-left: 420px;
}
.ads2{
	display: inline-block;
	width: 100px;
	height: auto;
	margin-top: 50px;
	margin-left: 10px;
}

@keyframes slideInleft{
	100%{
		transform: translateX(0px);
	}
	0%{
		transform: translateX(300px);
	}
}
.girl{

	animation-name: slideInleft;
	animation-duration: 2s;
	animation-timing-function: linear;
/*	animation-delay: 1s;*/
	animation-iteration-count: 1;
	animation-direction: normal;

}

.girl1 {
	overflow: scroll;
/*   float: right; */
    position: absolute; 
    z-index: 0;
   right: -140px;
         
} 
.foot{
	margin-left: -10px;
	display: inline-block;
	z-index: -1;
	margin-top: 40px ;
	width: 1260px;
	height: 50px;
	background-color: white;
	margin-bottom: 5px;

}
.foottext{
	margin-left: 200px;
	font-weight: bold;
	color: #032367;
}
.test{
	display: inline-block;
	z-index: -1;
}
.ncc_enroll2	 {	
	width: 1300px;
	height: 750px;
}
.nccbody{
	height: 500px;
	border-radius: 10px;
}
.p2{
	margin-left: 0px;
	margin-top: 0px;
	background-color: transparent;
	width: 1255px;
	height: 525px;
	position: relative;
	z-index: 0;
}
.p2 .t1{
	border: 5px solid gold;
	position: absolute;
	z-index: -1;
/*	margin-left: -10px;*/
	left: -10px;	
	margin-top: 70px;
	background-color: #032367;
/*	clip-path: polygon(0 0, 99% 0, 70% 100%, 0 100%);*/
	clip-path: polygon(0 0, 99% 0, 74% 100%, 0% 100%);
	color: red;
	width: 630px;
	height: 350px;
}

.p2 .t1 .textcontiner .text1,.text2,.text3,.text4,.text5,.text6,.text7{
	color:  #fcdd2b;
/*	color: green;*/
	display:inline;
	padding: 15px;
}
.p2 .t1 .textcontiner{
	margin-top: 35px;
}
.p2 .t1 .textcontiner .text1,.text3,.text5,.text6,.text7{
	font-size: 20px;
}
.p2 .t1 .textcontiner .text1{
	margin-left: 110px;

}
.p2 .t1 .textcontiner .text2{
	font-size: 50px;
	margin-left: 140px;
	font-weight: bold;
}
.p2 .t1 .textcontiner .text3{
	margin-left: 93px;
	
}
.p2 .t1 .textcontiner .text4{
	font-size: 50px;
	font-weight: bold;
	margin-left: 156px; 

}
.p2 .t1 .textcontiner .text5{
	margin-left: 70px;
	
}
.p2 .t1 .textcontiner .text6{
	margin-left: 59px;
	
}
.p2 .t1 .textcontiner .text7{
	margin-left: 40px;
	
}



.p2 .t2{
	position: absolute;
	z-index: -2;
	right: 0px;
	margin-top: 70px;
	background-color: #dedede;
	color: red;
	width: 680px;
	height: 350px;
/*	clip-path: polygon(30% 0, 100% 0, 100% 100%, 1% 100%);*/
	clip-path: polygon(26% 0, 100% 0%, 100% 100%, 1% 100%);
	
}


.p2 .t2 .textcontiner1{
	margin-top: 13px;
	margin-left: 50px;
	color: #032367;		
	font-weight: bold;
	display: inline-block;
}
.p2 .t2 .textcontiner1 .txt1, .txt2, .txt3, .txt4, .txt5, .txt6, .txt7, .txt8{
	padding: 0;
/*	display: flex;*/
/*	margin-bottom: -2em;*/
	line-height: 2.5;
	/*text-indent: 0;*/
	/*margin-top: -16px;
	margin-bottom: -16px;*/
}
.p2 .t2 .textcontiner1 .txt1{  
	margin-left: 140px;
}
.p2 .t2 .textcontiner1 .txt2{
	margin-left: 120px;
}
.p2 .t2 .textcontiner1 .txt3{
	margin-left: 100px;	
}
.p2 .t2 .textcontiner1 .txt4{
	margin-left: 80px;

}
.p2 .t2 .textcontiner1 .txt5{
	margin-left: 60px;
	
}
.p2 .t2 .textcontiner1 .txt6{
	margin-left: 40px;
	
}
.p2 .t2 .textcontiner1 .txt7{
	margin-left: 20px;
}
.p2 .t2 .textcontiner1 .txt8{
	margin-left: 0px;
}
.p3 .head{
	margin-top: 0px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.p3 .head .text{
	font-weight: bold;
	font-size: 30px;
	color: #032367;
}

.tablecontiner{
	display: flex;
	justify-content: center;
	align-items: center;
}
.table1,.table2,.table3,.table4{
	display:flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 100px;
	border-radius: 20px 20px 0 0;
	background-color: #032367;
	barder: solid 3px black ;
	margin-right: 10px;
}
.table1 .text1,.table2 .text1,.table3 .text1,.table4 .text1{
	color: white;
	line-height: 1.5;
}


.tablecontiner1{
	display: flex;
	justify-content: center;
	align-items: center;
}
.tablecontiner1 .table1,
.tablecontiner1 .table2,
.tablecontiner1 .table3,
.tablecontiner1 .table4{
	display:flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 300px;
	border-radius: 0 0 20px 20px;
	background-color: #f4f4f4;
	barder: solid 3px black ;
	margin-right: 10px;
}
.tablecontiner1 .table1 .text1,
.tablecontiner1 .table2 .text1,
.tablecontiner1 .table3 .text1,
.tablecontiner1 .table4 .text1{
	text-align: center;
	padding: 10px;
	color: black;
	font-weight: bold;
	line-height: 2;
}
.address{
	width: 1255px;
	height: 600px;
	background-color: yellow ;
}
.add{
	padding: 20px;
}
.textcenter{
	padding: 20px;
	text-align: center !important;
	 line-height: 25px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #7b838a;
}

.addcontiner{
	margin-top: 50px;
	display: grid;
	align-items: center;
	justify-content: center;
}
.uniac, .tcac{
	padding: 20px;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}

.uniac:hover, .tcac:hover{
	font-size: 25px;
	text-shadow:0px 0px 30px greenyellow;
}
.addlogo{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}
#ph{
	padding: 50px;
	font-size: 50px;
	color: black;
}
	


 

